<div class="screen">
    <div class="container">
        <div class="page-broken-container">
            <img src="../../../../assets/images/404.png" alt="error">
            <img src="../../../../assets/images/404.png" alt="error">
            <h1>5</h1>
        </div>

        <div class="page-broken-content">
            <h1>خطأ من جانب الخادم</h1>
            <h2>نأسف، ولكن حدث مشكلة ما في الخادم الخاص بالموقع من فضلك حاول مرة اخرى أو قم لاعودة للصفحة الرئيسية</h2>
            <button class="btn41-43 btn-41"> الصفحة الرئيسية</button>
        </div>
    </div>
</div>
