<div class="screen">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6"></div>
        </div>
        <div class="product-detail-section">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab>
                    <ng-template mat-tab-label>
                        معلومات عن المنتج
                    </ng-template>
                    <div class="tab-body">
                        <div class="tab-single">
                            <div class="row">
                                <div class="col-12">
                                    <div class="single-des">
                                        <p>ببساطة، نص وهمي للطباعة وصناعة أدوات الطباعة. كان Lorem Ipsum هو النص الوهمي
                                            القياسي في الصناعة منذ القرن الخامس عشر الميلادي ، عندما أخذت طابعة غير
                                            معروفة لوحًا من النوع وتدافعت عليه لعمل كتاب عينة. لقد صمد ليس فقط لخمسة
                                            قرون ، ولكن أيضًا القفزة في التنضيد الإلكتروني ، وظل دون تغيير جوهري. تم
                                            نشره في الستينيات من القرن الماضي بإصدار أوراق Letraset التي تحتوي على مقاطع
                                            Lorem Ipsum ، ومؤخراً باستخدام deskto</p>
                                    </div>
                                    <div class="single-des">
                                        <p>من ناحية أخرى ، فإننا نشجب بسخط صالح ونكره الرجال الذين خدعهم سحر اللذة
                                            اللحظية وإحباطهم ، وأعمتهم الرغبة ، لدرجة أنهم لا يستطيعون التنبؤ بالألم
                                            والمتاعب التي لا بد أن تنجم عن ذلك ؛ واللوم المتساوي يقع على أولئك الذين
                                            يفشلون في أداء واجبهم بسبب ضعف الإرادة ، وهو نفس القول من خلال الانكماش من
                                            الكد والألم. هذه الحالات بسيطة للغاية وسهلة التمييز. في ساعة مجانية ، عندما
                                            تكون قدرتنا على الاختيار غير مقيدة وعندما لا شيء يمنعنا من القيام بما نفضله
                                            ، يجب الترحيب بكل متعة وتجنب كل ألم. ولكن في ظروف معينة وبسبب ادعاءات الواجب
                                            أو التزامات العمل ، سيحدث في كثير من الأحيان أنه يجب نبذ الملذات وقبول
                                            الإزعاج. لذلك يتمسك الرجل الحكيم دائمًا في هذه الأمور بمبدأ الاختيار هذا:
                                            فهو يرفض الملذات لتأمين ملذات أعظم أخرى ، وإلا فإنه يتحمل الآلام لتجنب
                                            الآلام السيئة.
                                        </p>
                                    </div>
                                    <div class="single-des">
                                        <h4>خصائص المنتج:</h4>
                                        <ul>
                                            <li>حقيقة مثبتة منذ زمن طويل.</li>
                                            <li> </li>
                                            <li>lmany variations of passages of. </li>
                                            <li>generators on the Interne.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>