<nav class="desktop-navigation-menu">
    <div class="container">
        <ul class="desktop-menu-category-list">
            <li class="menu-category">
                <a routerLink="/home" class="menu-title">{{'Home'|translate}}</a>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">{{'allCat'|translate}}</a>

                <div class="dropdown-panel">
                    <ul class="dropdown-panel-list">
                        <li class="menu-title">
                            <a href="#">{{'skinCare'|translate}}</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">لا روش بوزيه</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">لوريال</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">سيرافي</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">بيوديرما</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">
                                <img src="../../../assets/images/banners/skincare-1.png" alt="" width="250"
                                    height="119">
                            </a>
                        </li>
                    </ul>

                    <ul class="dropdown-panel-list">
                        <li class="menu-title">
                            <a href="#">{{'hairCare'|translate}}</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">أوبليكس</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">تشي</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">كانتو</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">كيراستاس</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">
                                <img src="../../../assets/images/banners/haircare-1.png" alt="" width="250"
                                    height="119">
                            </a>
                        </li>
                    </ul>

                    <ul class="dropdown-panel-list">
                        <li class="menu-title">
                            <a href="#">{{'bodyCare'|translate}}</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">أوريفليم</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">فازلين</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">نيفيا</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">دوف</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">
                                <img src="../../../assets/images/banners/boadycare-1.png" alt="" width="250"
                                    height="119">
                            </a>
                        </li>
                    </ul>

                    <ul class="dropdown-panel-list">
                        <li class="menu-title">
                            <a href="#">{{'eyesCare'|translate}}</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">كلينيك</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">إينفينيتي</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">كولاجرا</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">نيتروجينا</a>
                        </li>

                        <li class="panel-list-item">
                            <a href="#">
                                <img src="../../../assets/images/banners/eyecare-1.png" alt="" width="250" height="119">
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">{{'skinCare'|translate}}</a>

                <ul class="dropdown-list">
                    <li class="dropdown-item">
                        <a href="#">لا روش بوزيه</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">لوريال</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">سيرافي</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">بيوديرما</a>
                    </li>
                </ul>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">{{'hairCare'|translate}}</a>

                <ul class="dropdown-list">
                    <li class="dropdown-item">
                        <a href="#">أوبليكس</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">تشي</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">كانتو</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">كيراستاس</a>
                    </li>
                </ul>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">{{'bodyCare'|translate}}</a>

                <ul class="dropdown-list">
                    <li class="dropdown-item">
                        <a href="#">أوريفليم</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">فازلين</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">نيفيا</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">دوف</a>
                    </li>
                </ul>
            </li>

            <li class="menu-category">
                <a href="#" class="menu-title">{{'eyesCare'|translate}}</a>

                <ul class="dropdown-list">
                    <li class="dropdown-item">
                        <a href="#">كلينيك</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">إينفينيتي</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">كولاجرا</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="#">نيتروجينا</a>
                    </li>
                </ul>
            </li>

            <li class="menu-category">
                <a routerLink="/blog" class="menu-title">{{'blog'|translate}}</a>
            </li>

            <li class="menu-category">
                <a routerLink="contact" class="menu-title">{{'contactUs'|translate}}</a>
            </li>
        </ul>
    </div>
</nav>