<div class="screen">
    <div class="container">
        <div class="screen-title">
            <div class="liner-container">
                <h4>مقالات و وصفات لجمالك</h4>
            </div>
        </div>
        <div class="blog">
            <div class="product-grid">
                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-1.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-2.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-3.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-4.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-1.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-2.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-3.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-4.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-1.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-2.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-3.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-4.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-1.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-2.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-3.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>

                <div class="blog-card">
                    <a href="#">
                        <img src="../../../../assets/images/blog/blog-4.jpg" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">العناية بالبشرة</a>

                        <a href="#">
                            <h3 class="blog-title">5 نصائح للحصول على بشرة صحية</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>Mr Admin</cite> / <time datetime="2022-04-06">مارس 06, 2022</time>
                          </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
