<div class="screen">
    <div class="container">
        <div class="screen-title">
            <div class="liner-container">
                <h4>مقالات و وصفات لجمالك</h4>
            </div>
        </div>
        <div class="blog-con">
            <div class="article-card">
                <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2021/08/woman-with-hyperpigmentation_1628623215.jpg) center / cover no-repeat;">
                    <div class="header">
                        <div class="header-data">
                            <p class="date-day">15</p>
                            <p class="date-month">مارس</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="content">
                            <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                            <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                            <a href="#" class="button">شاهد المزيد</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-card">
                <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2022/09/allure-image-blog_1667337108.jpg) center / cover no-repeat;">
                    <div class="header">
                        <div class="header-data">
                            <p class="date-day">15</p>
                            <p class="date-month">مارس</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="content">
                            <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                            <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                            <a href="#" class="button">شاهد المزيد</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-card">
                <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2022/01/lauren-If75ofdXz9s-unsplash_1642010043.jpg) center / cover no-repeat;">
                    <div class="header">
                        <div class="header-data">
                            <p class="date-day">15</p>
                            <p class="date-month">مارس</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="content">
                            <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                            <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                            <a href="#" class="button">شاهد المزيد</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-card">
                <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2021/08/woman-with-hyperpigmentation_1628623215.jpg) center / cover no-repeat;">
                    <div class="header">
                        <div class="header-data">
                            <p class="date-day">15</p>
                            <p class="date-month">مارس</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="content">
                            <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                            <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                            <a href="#" class="button">شاهد المزيد</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-card">
                <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2022/09/allure-image-blog_1667337108.jpg) center / cover no-repeat;">
                    <div class="header">
                        <div class="header-data">
                            <p class="date-day">15</p>
                            <p class="date-month">مارس</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="content">
                            <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                            <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                            <a href="#" class="button">شاهد المزيد</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-card">
                <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2022/01/lauren-If75ofdXz9s-unsplash_1642010043.jpg) center / cover no-repeat;">
                    <div class="header">
                        <div class="header-data">
                            <p class="date-day">15</p>
                            <p class="date-month">مارس</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="content">
                            <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                            <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                            <a href="#" class="button">شاهد المزيد</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
