<div class="screen">
    <div class="container">
        <div class="screen-title">
            <div class="liner-container">
                <h4>مقالات و وصفات لجمالك</h4>
            </div>
        </div>
        <div class="blog">
            <div class="product-grid">
                <div class="blog-card" *ngFor="let article of articles | paginate: { itemsPerPage: 8, currentPage: p, totalItems: 16}">
                    <a href="#">
                        <img [src]="article.cover" alt="" width="300" class="blog-banner">
                    </a>

                    <div class="blog-content">
                        <a href="#" class="blog-category">{{article.category}}</a>

                        <a href="#">
                            <h3 class="blog-title">{{article.title}}</h3>
                        </a>

                        <p class="blog-meta">
                            بواسطة <cite>{{article.author}}</cite> / <time datetime="2022-04-06">{{article.date}}</time>
                          </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination-container">
            <pagination-controls
            (pageChange)="p = $event"
            [maxSize]="9"
            previousLabel=""
            nextLabel=""
          >
          </pagination-controls>
        </div>
    </div>
</div>
