<div class="ads-navbar">
    <div class="container">
        <div class="pd-15">
            <div class="header-con">
                <div class="header-alert-news">
                    <span>* استمتع الان بخصم 30% على جميع منتجات العناية بالبشرة </span>
                </div>

                <div class="social-media">
                    <ul class="header-social-container">
                        <li>
                            <a href="#" class="social-link">
                                <i-feather name="facebook"></i-feather>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <i-feather name="twitter"></i-feather>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <i-feather name="instagram"></i-feather>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <i-feather name="linkedin"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>