<div class="screen"
    style="background: url(../../../../assets/images/banners/contact-bg.png) center / cover no-repeat;opacity: 0.7;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info">
                    <div class="contact-info-card">
                        <h2>تواصل معنا</h2>
                        <br>
                        <ul>
                            <li>
                                <div class="pin-box">
                                    <i-feather name="map-pin"></i-feather>
                                    <h3>العنوان</h3>
                                </div>
                                <div class="pin-info">
                                    <h4>26 شارع الجلاء، فيكتوريا، الإسكندرية، مصر</h4>
                                </div>
                            </li>
                            <li>
                                <div class="pin-box">
                                    <i-feather name="phone-call"></i-feather>
                                    <h3>ارقام التليفون</h3>
                                </div>
                                <div class="pin-info">
                                    <h4>تليفون : +88 (0) 101 0000 000</h4>
                                    <h4>فاكس : +88 (0) 202 0000 001</h4>
                                </div>
                            </li>

                            <li>
                                <div class="pin-box">
                                    <i-feather name="mail"></i-feather>
                                    <h3>البريد الالكتروني</h3>
                                </div>
                                <div class="pin-info">
                                    <h4>info@nosaskincare.com</h4>
                                    <h4>omnia@nosaskincare.com</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="send-msg">
                    <h2>راسلنا على البريد الالكتروني</h2>
                    <br>
                    <form #contactForm="ngForm" id="contactForm" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" id="txtName" name="Name" class="search-field auth-field"
                                        placeholder="الاسم" />
                                    <!-- <small class="text text-danger" *ngIf="!txtName.valid && (txtName.dirty || txtName.touched)">لازم تكتب اسم</small> -->
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="email" id="txtEmail" name="Email" class="search-field auth-field"
                                        placeholder="البريد الالكتروني" />
                                    <!-- <small class="text text-danger" *ngIf="!txtEmail.valid && (txtEmail.dirty || txtEmail.touched)">لازم تكتب بريد الكتروني</small> -->
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" id="txtPhone" name="Phone" class="search-field auth-field"
                                        placeholder="رقم التليفون" />
                                    <!-- <small class="text text-danger" *ngIf="!txtPhone.valid && (txtPhone.dirty || txtPhone.touched)">لازم تكتب رقم التليفون</small> -->
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" id="txtMsgTitle" name="MsgTitle" class="search-field auth-field"
                                        placeholder="عنوان الرساله" />
                                    <!-- <small class="text text-danger" *ngIf="!txtMsgTitle.valid && (txtMsgTitle.dirty || txtMsgTitle.touched)">لازم تكتب عنوان الرساله</small> -->
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea id="txtMsg" name="Msg" class="search-field auth-field"
                                        placeholder="الرساله" style="width: -webkit-fill-available;"
                                        rows="7"></textarea>
                                    <!-- <small class="text text-danger" *ngIf="!txtMsgTitle.valid && (txtMsgTitle.dirty || txtMsgTitle.touched)">لازم تكتب الرساله</small> -->
                                </div>
                            </div>
                        </div>
                        <br>
                        <button class="btn41-43 btn-41">إرسال</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map">
    <div class="map-container">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: -webkit-fill-available;height: 600px; filter: brightness( 113% ) contrast( 118% ) saturate( 100% ) blur( 0px ) hue-rotate( 176deg );"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2411.949007159767!2d29.98156749680927!3d31.24811887631877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5dacc0a5a1f69%3A0xadc185b2c738a988!2z2qTZg9iq2YjYsdmK2Kcg2YPZiNmE2YrYr9qG!5e0!3m2!1sar!2seg!4v1679268935737!5m2!1sar!2seg&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"
            title="75/23 Folsom Ave, Suite 600 San   Francisco, CA 94107​"
            aria-label="75/23 Folsom Ave, Suite 600 San   Francisco, CA 94107​"></iframe>
    </div>
</div>