<section class="screen">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 sec">
                <div class="category-home category-home-main">
                </div>
            </div>

            <div class="col-lg-4 col-md-12 sec">
                <div class="row">
                    <div class="col-6">
                        <div class="category-home category-home-main-split"></div>
                    </div>
                    <div class="col-6">
                        <div class="category-home category-home-main-split"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="category-home category-home-main-split"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 sec">
                <div class="category-home category-home-main-split"></div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 sec">
                <div class="category-home category-home-main-split"></div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 sec">
                <div class="category-home category-home-main-split"></div>
            </div>
        </div>

        <!-- Featured Offers Section -->
        <div class="screen-section">
            <h2 class="section-title">العروض والعينات المميزة</h2>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab>
                    <ng-template mat-tab-label>
                        العناية بالبشرة
                    </ng-template>
                    <div class="tab-body">
                        <div class="row">
                            <div class="col-lg-6 sec">
                                <div class="featured-offers-main1"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="featured-offers-main2"></div>
                                <br>
                                <div class="featured-offers-main2"></div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        العناية بالشعر
                    </ng-template>
                    <div class="tab-body">
                        <div class="row">
                            <div class="col-lg-6 sec">
                                <div class="featured-offers-main1"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="featured-offers-main2"></div>
                                <br>
                                <div class="featured-offers-main2"></div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        العناية بالجسم
                    </ng-template>
                    <div class="tab-body">
                        <div class="row">
                            <div class="col-lg-6 sec">
                                <div class="featured-offers-main1"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="featured-offers-main2"></div>
                                <br>
                                <div class="featured-offers-main2"></div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        العناية بالعيون
                    </ng-template>
                    <div class="tab-body">
                        <div class="row">
                            <div class="col-lg-6 sec">
                                <div class="featured-offers-main1"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="featured-offers-main2"></div>
                                <br>
                                <div class="featured-offers-main2"></div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                            <div class="col-lg-3 sec2">
                                <div class="featured-offers-item"></div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>


        <!-- Ad -->
        <div>
            <div class="ad-banner"></div>
        </div>


        <!-- Blog -->
        <div class="screen-section">
            <h2 class="section-title">مقالات مميزة</h2>
            <div class="row">
                <div class="col-lg-4 sec2">
                    <div class="example-2 article-card">
                        <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2021/08/woman-with-hyperpigmentation_1628623215.jpg) center / cover no-repeat;">
                            <div class="data">
                                <div class="content">
                                    <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                                    <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                                    <a href="#" class="button">شاهد المزيد</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 sec2">
                    <div class="example-2 article-card">
                        <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2022/09/allure-image-blog_1667337108.jpg) center / cover no-repeat;">
                            <div class="data">
                                <div class="content">
                                    <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                                    <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                                    <a href="#" class="button">شاهد المزيد</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 sec2">
                    <div class="example-2 article-card">
                        <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2022/01/lauren-If75ofdXz9s-unsplash_1642010043.jpg) center / cover no-repeat;">
                            <div class="data">
                                <div class="content">
                                    <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                                    <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                                    <a href="#" class="button">شاهد المزيد</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
