<div class="auth-screen">
    <div class="container" style="text-align: center;">
        <div class="auth-con">
            <img src="../../../../assets/images/main-logo-white.png" alt="" [width]="336" [height]="112">

            <div class="auth-card pd-40">
                <h2>أهلاً بيك تاني!</h2>
                <h1>نسيت كلمة السر؟</h1>
                <h3>اكتب إيميلك وهنبعتلك عليه رابط عشان تغير كلمة السر الخاصة بيك.</h3>

                <div class="auth-form">
                    <form #forgetPasswordForm="ngForm" id="forgetPasswordForm" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="txtEmail">البريد الالكتروني</label>
                                    <input type="email" id="txtEmail" name="email" class="search-field auth-field"/>

                                    <!-- <small class="text text-danger" *ngIf="!txtEmail.valid && (txtEmail.dirty || txtEmail.touched)">لازم تكتب الإيميل</small> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <button class="btn41-43 btn-41">أدخل البريد الالكتروني</button>
            </div>
        </div>
    </div>
</div>
