<div class="screen">
    <div class="container">
        <div class="screen-title" style="text-align: center;">
            <div class="liner-container">
                <h4>سياسة الخصوصية</h4>
            </div>
        </div>

        <div class="screen-body">
            <p>– نحن نحترم خصوصيتك ونلتزم بحمايتها من خلال امتثالنا لسياسة الخصوصية هذه (“السياسة”). توضح هذه السياسة
                أنواع المعلومات التي قد نجمعها منك أو التي قد توفرها (“المعلومات الشخصية”) على الموقع (“الموقع
                الإلكتروني”) ، وأي من المنتجات والخدمات ذات الصلة (يشار إليها إجمالاً باسم
                “الخدمات”) ، وممارساتنا في جمع هذه المعلومات الشخصية واستخدامها وصيانتها وحمايتها والكشف عنها. كما يصف
                الخيارات المتاحة لك فيما يتعلق باستخدامنا لمعلوماتك الشخصية .وكيف يمكنك الوصول إليها وتحديث</p>
            <br>



            <p>– هذه السياسة هي اتفاقية ملزمة قانونًا بينك (“المستخدم” أو “أنت” أو “الخاص بك”) ومشغل موقع الويب هذا
                (“المشغل” أو “نحن” أو “نحن” أو “خاصتنا”). إذا كنت تدخل في هذه الاتفاقية نيابةً عن
                شركة أو كيان قانوني آخر ، فأنت تقر بأن لديك السلطة لإلزام هذا الكيان بهذه الاتفاقية ، وفي هذه الحالة يجب
                أن تشير مصطلحات “المستخدم” أو “أنت” أو “الخاص بك” لمثل هذا الكيان. إذا لم تكن لديك مثل هذه الصلاحية ، أو
                إذا كنت لا توافق على شروط هذه الاتفاقية ، فيجب عليك عدم قبول هذه الاتفاقية ولا يجوز لك الوصول إلى
                الخدمات واستخدامها. بمجرد الوصول إلى الخدمات واستخدامها ، فإنك تقر بأنك قد قرأت وفهمت ووافقت على
                الالتزام بشروط هذه السياسة. لا تنطبق هذه السياسة على ممارسات الشركات التي لا نملكها أو نتحكم فيها ، أو
                على الأفراد الذين لا نوظفهم أو نديرهم.</p>
            <br>


            <h2 class="font-underline">جمع المعلومات الشخصية:</h2>
            <p>– يمكنك الوصول إلى الخدمات واستخدامها دون إخبارنا بهويتك أو الكشف عن أي معلومات يمكن من خلالها التعرف
                عليك كفرد محدد يمكن التعرف عليه. ومع ذلك ، إذا كنت ترغب في استخدام بعض الميزات المعروضة في الخدمات ، فقد
                يُطلب منك تقديم معلومات شخصية معينة (على سبيل المثال ، اسمك وعنوان بريدك الإلكتروني).</p>
            <br>

            <p>– نتلقى ونخزن أي معلومات تزودنا بها عن قصد عندما تنشئ حسابًا أو تنشر محتوى أو تملأ أي نماذج على الخدمات.
                عند الاقتضاء ، قد تتضمن هذه المعلومات ما يلي:</p>
            <br>

            <p>تفاصيل الحساب (مثل اسم المستخدم ومعرف المستخدم المميز وكلمة المرور وما إلى ذلك) •</p>
            <br>
            <p>معلومات الاتصال (مثل عنوان البريد الإلكتروني ورقم الهاتف وما إلى ذلك) •</p>
            <br>
            <p>المعلومات الشخصية الأساسية (مثل الاسم وبلد الإقامة وما إلى ذلك) •</p>
            <br>
            <p>أي مواد أخرى ترسلها إلينا بمحض إرادتك (مثل المقالات والصور والتعليقات وما إلى ذلك) •</p>
            <br>
            <p>يمكنك اختيار عدم تزويدنا بمعلوماتك الشخصية ، ولكن بعد ذلك قد لا تتمكن من الاستفادة من بعض الميزات
                الموجودة في الخدمات. نرحب بالمستخدمين الذين لا يعرفون ما هي المعلومات الإلزامية للاتصال بنا.</p>
            <br>


            <h2 class="font-underline">خصوصية الأطفال:</h2>
            <p>– نحن لا نجمع أي معلومات شخصية عن قصد من الأطفال الذين تقل أعمارهم عن 18 عامًا. إذا كان عمرك أقل من 18
                عامًا ، فيرجى عدم إرسال أي معلومات شخصية من خلال الخدمات. إذا كان لديك سبب للاعتقاد بأن طفلًا يقل عمره
                عن 18 عامًا قد قدم لنا معلومات شخصية من خلال الخدمات ، فيرجى الاتصال بنا لطلب حذف المعلومات الشخصية لهذا
                الطفل من خدماتنا.</p>
            <br>

            <p>– نحن نشجع الآباء والأوصياء القانونيين على مراقبة استخدام أطفالهم للإنترنت وللمساعدة في تطبيق هذه السياسة
                من خلال توجيه أطفالهم إلى عدم تقديم معلومات شخصية من خلال الخدمات دون إذن منهم. نطلب أيضًا من جميع
                الآباء والأوصياء القانونيين الذين يشرفون على رعاية الأطفال اتخاذ الاحتياطات اللازمة لضمان توجيه أطفالهم
                لعدم إعطاء معلومات شخصية مطلقًا عند الاتصال بالإنترنت دون إذنهم.</p>
            <br>

            <h2 class="font-underline">استخدام ومعالجة المعلومات التي تم جمعها:</h2>
            <p>نحن نعمل كمراقب للبيانات ومعالج بيانات عند التعامل مع المعلومات الشخصية ، ما لم نعقد اتفاقية معالجة
                بيانات معك ، وفي هذه الحالة ستكون أنت المتحكم في البيانات وسنكون معالج البيانات.</p>
            <br>

            <p>– قد يختلف دورنا أيضًا اعتمادًا على الموقف المحدد الذي يتضمن المعلومات الشخصية. نتصرف بصفتنا مراقب
                البيانات عندما نطلب منك إرسال معلوماتك الشخصية الضرورية لضمان وصولك إلى الخدمات واستخدامها. في مثل هذه
                الحالات ، نصبح كمراقب بيانات لأننا نحدد أغراض ووسائل معالجة المعلومات الشخصية.</p>
            <br>
            <p>– أنت تتعهد بأن أي محتوى مستخدم لا يتوافق مع سياسة الاستخدام المقبول الخاصة بنا يعني أنك ستكون مسؤولاً عن
                أي خسارة أو ضرر نتعرض له نتيجة لخرقك لهذا الضمان.</p>
            <br>
            <p>– لدينا الحق في إزالة أي محتوى مستخدم تضعه على الموقع إذا كان في رأينا محتوى المستخدم هذا لا يتوافق مع
                سياسة الاستخدام المقبول.</p>
            <br>

            <p>– نحن نعمل بصفتنا معالج البيانات في المواقف التي ترسل فيها معلومات شخصية من خلال الخدمات. نحن لا نمتلك أو
                نتحكم أو نتخذ قرارات بشأن المعلومات الشخصية المقدمة ، ولا تتم معالجة هذه المعلومات الشخصية إلا وفقًا
                لتعليماتك. في مثل هذه الحالات ، يعمل المستخدم الذي يقدم المعلومات الشخصية كمراقب للبيانات.</p>
            <br>

            <p>– تعتمد معالجة معلوماتك الشخصية على كيفية تفاعلك مع الخدمات ، ومكان وجودك في العالم ، وإذا كان أحد
                الإجراءات التالية ينطبق: (1) لقد أعطيت موافقتك لهدف أو أكثر من الأغراض المحددة ؛ (2) توفير المعلومات
                ضروري لأداء اتفاقية معك و / أو لأي التزامات تعاقدية سابقة لها ؛ (3) المعالجة ضرورية للامتثال لالتزام
                قانوني تخضع له ؛ (4) تتعلق المعالجة بمهمة يتم تنفيذها للمصلحة العامة أو في ممارسة السلطة الرسمية
                الممنوحة لنا ؛ (5) المعالجة ضرورية لأغراض المصالح المشروعة التي نتبعها أو التي يسعى إليها طرف ثالث.</p>

            <br>

            <p>– لاحظ أنه بموجب بعض التشريعات ، قد يُسمح لنا بمعالجة المعلومات حتى تعترض على هذه المعالجة عن طريق إلغاء
                الاشتراك ، دون الاضطرار إلى الاعتماد على الموافقة أو أي أسس قانونية أخرى. على أي حال ، سنكون سعداء
                لتوضيح الأساس القانوني المحدد الذي ينطبق على المعالجة ، وعلى وجه الخصوص ما إذا كان توفير المعلومات
                الشخصية شرطًا قانونيًا أو تعاقديًا ، أو شرطًا ضروريًا لإبرام عقد.</p>
            <br>


            <h2 class="font-underline">إدارة المعلومات:</h2>
            <p>يمكنك حذف بعض المعلومات الشخصية الخاصة بك التي لدينا. قد تتغير المعلومات الشخصية التي يمكنك حذفها مع تغير
                الخدمات. ومع ذلك ، عند حذف المعلومات الشخصية ، قد نحتفظ بنسخة من المعلومات الشخصية غير المنقحة في
                سجلاتنا للمدة اللازمة للامتثال لالتزاماتنا تجاه الشركات التابعة لنا وشركائنا ، وللأغراض الموضحة أدناه.
                إذا كنت ترغب في حذف معلوماتك الشخصية أو حذف حسابك نهائيًا ، فيمكنك القيام بذلك عن طريق الاتصال بنا.</p>
            <br>
            <p>– باستثناء ما هو منصوص عليه في هذه الشروط والأحكام ، لا يجوز نسخ أي جزء من الموقع أو الخدمات أو المحتوى
                الخاص بنا أو إعادة إنتاجه أو تجميعه أو إعادة نشره أو تحميله أو نشره أو عرضه علنًا أو ترميزه أو ترجمته أو
                نقله أو توزيعه أو بيعه أو ترخيصه ، أو استغلالها بأي شكل آخر لأي غرض تجاري على الإطلاق ، دون إذن كتابي
                صريح مسبق منا.</p>

            <br>

            <h2 class="font-underline">الإفصاح عن المعلومات:</h2>
            <p>اعتمادًا على الخدمات المطلوبة أو حسب الضرورة لإكمال أي معاملة أو تقديم أي خدمة طلبتها ، يجوز لنا مشاركة
                معلوماتك مع الشركات التابعة لنا والشركات المتعاقدة ومقدمي الخدمات (يشار إليهم جميعًا باسم “مزودي
                الخدمة”) الذين نعتمد عليهم للمساعدة في تشغيل الخدمات المتاحة لك وسياسات الخصوصية التي تتوافق مع سياساتنا
                أو الذين يوافقون على الالتزام بسياساتنا فيما يتعلق بالمعلومات الشخصية. لن نشارك أي معلومات شخصية مع
                أطراف ثالثة اوأطراف غير منتسبة.</p>
            <br>

            <p>– لا يُصرح لمقدمي الخدمة باستخدام معلوماتك أو الكشف عنها إلا عند الضرورة لأداء الخدمات نيابة عنا أو
                الامتثال للمتطلبات القانونية. يحصل مقدمو الخدمة على المعلومات التي يحتاجون إليها فقط من أجل أداء وظائفهم
                المخصصة ، ولا نسمح لهم باستخدام أو الكشف عن أي من المعلومات المقدمة لأغراض التسويق الخاصة بهم أو لأغراض
                أخرى.</p>
            <br>

            <h2 class="font-underline">الاحتفاظ بالمعلومات:</h2>

            <p>– سنحتفظ بمعلوماتك الشخصية ونستخدمها للفترة اللازمة للامتثال لالتزاماتنا القانونية ، طالما أن حساب
                المستخدم الخاص بك لا يزال نشطًا ، لفرض اتفاقياتنا ، وحل النزاعات ، وما لم يتطلب القانون فترة احتفاظ أطول
                أو يسمح بها.</p>
            <br>

            <p>– يجوز لنا استخدام أي بيانات مجمعة مشتقة من معلوماتك الشخصية أو دمجها بعد تحديثها أو حذفها ، ولكن ليس
                بطريقة تحدد هويتك الشخصية. بمجرد انتهاء فترة الاحتفاظ ، سيتم حذف المعلومات الشخصية. لذلك ، لا يمكن إنفاذ
                الحق في الوصول ، والحق في المسح ، والحق في التصحيح ، والحق في إمكانية نقل البيانات بعد انتهاء فترة
                الاحتفاظ.</p>
            <br>

            <h2 class="font-underline">ملفات تعريف الارتباط:</h2>

            <p>– تستخدم خدماتنا “ملفات تعريف الارتباط” للمساعدة في تخصيص تجربتك على الإنترنت. ملف تعريف الارتباط هو ملف
                نصي يتم وضعه على القرص الثابت الخاص بك عن طريق خادم صفحة الويب. لا يمكن استخدام ملفات تعريف الارتباط
                لتشغيل البرامج أو توصيل الفيروسات إلى جهاز الكمبيوتر الخاص بك. يتم تخصيص ملفات تعريف الارتباط لك بشكل
                مميز، ولا يمكن قراءتها إلا بواسطة خادم ويب في المجال الذي أصدر ملف تعريف الارتباط لك. إذا اخترت رفض
                ملفات تعريف الارتباط ، فقد لا تتمكن من تجربة ميزات الخدمات بشكل كامل. يمكنك معرفة المزيد عن ملفات تعريف
                الارتباط وكيفية عملها هنا.</p>
            <br>

            <p>– قد نستخدم ملفات تعريف الارتباط لجمع المعلومات وتخزينها وتتبعها للأمان والتخصيص ولتشغيل الخدمات وللأغراض
                الإحصائية. لمزيد من المعلومات حول ملفات تعريف الارتباط التي نجمعها والغرض منها ، راجع سياسة ملفات تعريف
                الارتباط الخاصة بنا. يرجى ملاحظة أنك لديك القدرة على قبول أو رفض ملفات تعريف الارتباط. تقبل معظم متصفحات
                الويب ملفات تعريف الارتباط تلقائيًا بشكل افتراضي ، ولكن يمكنك تعديل إعدادات المستعرض الخاص بك لرفض ملفات
                تعريف الارتباط إذا كنت تفضل ذلك.</p>
            <br>

            <h2 class="font-underline">تحليل البيانات:</h2>
            <p>– قد تستخدم خدماتنا أدوات تحليلات تابعة لجهات خارجية تستخدم ملفات تعريف الارتباط أو إشارات الويب أو غيرها
                من تقنيات جمع المعلومات المماثلة لجمع نشاط الإنترنت القياسي ومعلومات الاستخدام. تُستخدم المعلومات التي
                تم جمعها لتجميع تقارير إحصائية عن نشاط المستخدم ، مثل عدد المرات التي يزور فيها المستخدمون خدماتنا ،
                والصفحات التي يزورونها ومدة الزيارة ، وما إلى ذلك. نستخدم المعلومات التي تم الحصول عليها من أدوات
                التحليلات هذه لمراقبة الأداء وتحسين خدماتنا.</p>

            <br>

            <h2 class="font-underline">لا تتبع الإشارات:</h2>
            <p>– تتضمن بعض المتصفحات ميزة “عدم التعقب” التي تشير إلى مواقع الويب التي تزورها بأنك لا تريد تتبع نشاطك على
                الإنترنت. لا يعد التتبع مثل استخدام المعلومات أو جمعها فيما يتعلق بموقع ويب. لهذه الأغراض ، يشير التتبع
                إلى جمع معلومات التعريف الشخصية من المستهلكين الذين يستخدمون أو يزورون موقعًا إلكترونيًا أو خدمة عبر
                الإنترنت أثناء تنقلهم عبر مواقع الويب المختلفة بمرور الوقت. لا تتعقب الخدمات زوارها بمرور الوقت وعبر
                مواقع ويب الجهات الخارجية. ومع ذلك ، قد تتعقب بعض مواقع الويب التابعة لجهات خارجية أنشطة التصفح الخاصة
                بك عندما تقدم لك محتوى ، مما يمكّنها من تخصيص ما يقدمه لك.</p>
            <br>

            <h2 class="font-underline">ميزات وسائل التواصل الاجتماعي:</h2>
            <p>فيس بوك و تويتر – قد تتضمن خدماتنا الوسائط الاجتماعية ، مثل فيسبوك و تويتر، وأزرار مشاركة هذا ، وما إلى
                ذلك (يشار إليها إجمالاً باسم “الوسائط الاجتماعية”. قد تقوم وسائل التواصل الاجتماعي هذه بتجميع عنوان IP
                الخاص بك والصفحة التي تزورها على خدماتنا ، وقد تقوم بتعيين ملف تعريف ارتباط لتمكين ميزات الوسائط
                الاجتماعية من العمل بشكل صحيح. يتم استضافة ميزات وسائل التواصل الاجتماعي إما من قبل مزوديها المعنيين أو
                مباشرة على خدماتنا. تخضع تفاعلاتك مع ميزات الوسائط الاجتماعية هذه لسياسة الخصوصية لمزوديها المعنيين.</p>
            <br>

            <h2 class="font-underline">قبول هذه السياسة:</h2>
            <p>– أنت تقر بأنك قد قرأت هذه السياسة وتوافق على جميع الشروط والأحكام الخاصة بها. من خلال الوصول إلى الخدمات
                واستخدامها وتقديم معلوماتك ، فإنك توافق على الالتزام بهذه السياسة. إذا كنت لا توافق على الالتزام بشروط
                هذه السياسة ، فأنت غير مصرح لك بالوصول إلى الخدمات أو استخدامها.</p>
            <br>
        </div>
    </div>
</div>