<div class="screen">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="theArticle-Title">
                    <ul>
                        <li class="tag">
                            <span>العناية بالبشرة</span>
                            <span>ريتينول</span>
                        </li>
                        <li class="author-part">
                            <span> نشرت من قبل </span>
                            <div class="author-img"
                                style="background: url(https://secure.gravatar.com/avatar/85da526510e042f74ab7e3dcfe4e763f?s=32&d=mm&r=g) center / cover no-repeat;">
                            </div>
                            <span>أمنية</span>
                        </li>
                        <li class="top-title">
                            <h1 style="margin: 0;">لماذا يجب على الجميع إستخدام الريتنول</h1>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="theArticle-header">
                    <div class="theArticle-wrapper"
                        style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2021/08/woman-with-hyperpigmentation_1628623215.jpg) center / cover no-repeat;">
                        <div class="header">
                            <div class="header-data">
                                <p class="date-day">15</p>
                                <p class="date-month">مارس</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="theArticle-body">
                    <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم
                        سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

                        وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                        المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من
                        الملاحظات او الانتقادات للتصميم الاساسي.

                        وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني
                        الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"

                        لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم
                        سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

                        وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                        المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من
                        الملاحظات او الانتقادات للتصميم الاساسي.

                        وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني
                        الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"

                        لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم
                        سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

                        وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                        المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من
                        الملاحظات او الانتقادات للتصميم الاساسي.

                        وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني
                        الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"

                        لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم
                        سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

                        وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                        المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من
                        الملاحظات او الانتقادات للتصميم الاساسي.

                        وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني
                        الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"


                        لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم
                        سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

                        وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                        المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من
                        الملاحظات او الانتقادات للتصميم الاساسي.

                        وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني
                        الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"


                        لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم
                        سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

                        وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                        المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من
                        الملاحظات او الانتقادات للتصميم الاساسي.

                        وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني
                        الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"

                        لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم
                        سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...

                        وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                        المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من
                        الملاحظات او الانتقادات للتصميم الاساسي.

                        وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني
                        الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"
                    </p>
                </div>

                <div class="realted-articles">
                    <div class="screen-title">
                        <div class="liner-container">
                            <h4>مقالات ذات صلة</h4>
                        </div>
                    </div>

                    <div class="realted-articles-plus">
                        <div class="article-card">
                            <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2021/08/woman-with-hyperpigmentation_1628623215.jpg) center / cover no-repeat;">
                                <div class="header">
                                    <div class="header-data">
                                        <p class="date-day">15</p>
                                        <p class="date-month">مارس</p>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="content">
                                        <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                                        <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                                        <a href="#" class="button">شاهد المزيد</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="article-card">
                            <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2022/09/allure-image-blog_1667337108.jpg) center / cover no-repeat;">
                                <div class="header">
                                    <div class="header-data">
                                        <p class="date-day">15</p>
                                        <p class="date-month">مارس</p>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="content">
                                        <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                                        <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                                        <a href="#" class="button">شاهد المزيد</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="article-card">
                            <div class="wrapper" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2022/01/lauren-If75ofdXz9s-unsplash_1642010043.jpg) center / cover no-repeat;">
                                <div class="header">
                                    <div class="header-data">
                                        <p class="date-day">15</p>
                                        <p class="date-month">مارس</p>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="content">
                                        <h1 class="title"><a href="#">لماذا يجب على الجميع إستخدام الريتنول</a></h1>
                                        <p class="text">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم</p>
                                        <a href="#" class="button">شاهد المزيد</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tags-plus">
                    <div class="screen-title">
                        <div class="liner-container">
                            <h4>تصنيفات</h4>
                        </div>
                    </div>
                    <div class="tags-plus-ul">
                        <ul>
                            <li>العناية بالبشرة</li>
                            <li>ريتينول</li>
                        </ul>
                    </div>
                </div>

                <div class="last-articles">
                    <div class="screen-title">
                        <div class="liner-container">
                            <h4>آخر المقالات</h4>
                        </div>
                    </div>
                    <div class="articles-plus-ul">
                        <ul>
                            <li>
                                <div class="articles-plus-img" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2022/09/allure-image-blog_1667337108.jpg) center / cover no-repeat;"></div>
                                <span class="articles-plus-title">لماذا يجب على الجميع إستخدام الريتنول</span>
                                <span class="articles-plus-date">13 مارس 2023</span>
                            </li>

                            <li>
                                <div class="articles-plus-img" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2021/08/woman-with-hyperpigmentation_1628623215.jpg) center / cover no-repeat;"></div>
                                <span class="articles-plus-title">لماذا يجب على الجميع إستخدام الريتنول</span>
                                <span class="articles-plus-date">13 مارس 2023</span>
                            </li>

                            <li>
                                <div class="articles-plus-img" style="background: url(https://static.thcdn.com/images/small/original/app/uploads/sites/1160/2022/01/lauren-If75ofdXz9s-unsplash_1642010043.jpg) center / cover no-repeat;"></div>
                                <span class="articles-plus-title">لماذا يجب على الجميع إستخدام الريتنول</span>
                                <span class="articles-plus-date">13 مارس 2023</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>