<div class="screen">
    <div class="container">
        <div class="screen-title" style="text-align: center;">
            <div class="liner-container">
                <h4>الشروط والأحكام</h4>
            </div>
        </div>

        <div class="screen-body">
            <h2 class="font-underline">الموافقة على الشروط:</h2>
            <p>– تشكل هذه الشروط والأحكام اتفاقية ملزمة قانونًا بينك سواء شخصيًا أو نيابة عن كيان (أنت) وشركة Nosa ،
                التي تمارس الأعمال التجارية بصفتها متجر Nosa ، التي تقع في الاسكندرية.</p>
            <br>
            <p>بمجرد وصولك الى الموقع و / او الخدمات، يعني انك قد قرأت وفهمت و وافقت على الالتزام بجميع هذه الشروط.</p>
            <br>
            <p>إذا كنت لا توافق على جميع هذه الشروط والأحكام ، فأنت ممنوع من استخدام الموقع والخدمات ويجب عليك التوقف عن
                الاستخدام على الفور. نوصي بطباعة نسخة من هذه الشروط والأحكام للرجوع إليها في المستقبل.</p>
            <br>
            <p>– يجوز لنا إجراء تغييرات على هذه الشروط والأحكام في أي وقت. ستتم الإشارة إلى الإصدار المحدّث من هذه
                الشروط والأحكام من خلال تاريخ محدّث وستصبح النسخة المحدّثة سارية يمكن الوصول إليها. أنت مسؤول عن مراجعة
                هذه الشروط والأحكام للاطلاع على التحديثات. إن استمرارك في استخدام الموقع يعني قبولك لهذه التغييرات.</p>
            <br>
            <p>– قد نقوم بتحديث أو تغيير الموقع من وقت لآخر و ذلك للتغييرات التي تطرأ على منتجاتنا واحتياجات مستخدمينا و
                / أو أولويات أعمالنا.</p>
            <br>
            <p>– موقع Nosa موجه للأشخاص المقيمين في مصر. المعلومات المقدمة على الموقع ليست معدة للتوزيع أو الاستخدام من
                قبل أي شخص أو كيان في أي ولاية قضائية أو دولة يكون فيها هذا التوزيع أو الاستخدام مخالفًا للقانون أو
                اللوائح أو من شأنه أن يُخضعنا لأي شرط تسجيل داخل هذه الولاية القضائية أو الدولة.</p>
            <br>
            <p>– الموقع مخصص للمستخدمين الذين لا تقل أعمارهم عن 18 عامًا. إذا كان عمرك أقل من 18 عامًا ، فلا يُسمح لك
                بالتسجيل في الموقع أو استخدام الخدمات دون إذن الوالدين.</p>
            <br>
            <h2 class="font-underline">الاستخدام المقبول:</h2>
            <p>– لا يجوز لك الوصول إلى الموقع أو استخدامه لأي غرض آخر غير الذي من أجله نوفر الموقع وخدماتنا. و لا يجوز
                استخدام الموقع فيما يتعلق بأي مساع تجارية باستثناء تلك التي تم اعتمادها أو الموافقة عليها بشكل خاص من
                قبلنا.</p>
            <br>
            <p>– كمستخدم لهذا الموقع، فإنك توافق على عدم:</p>
            <br>
            <p>استرداد البيانات أو المحتويات الأخرى بشكل منهجي من الموقع إلى قاعدة بيانات مجمعة أو دليل دون إذن كتابي
                منا.</p>
            <br>
            <p>القيام بأي استخدام غير مصرح به للموقع ، بما في ذلك جمع أسماء المستخدمين و / أو عناوين البريد الإلكتروني
                للمستخدمين لإرسال بريد إلكتروني غير مرغوب فيه أو إنشاء حسابات مستخدمين كاذبة.</p>
            <br>
            <p>استخدم وكيل شراء لإجراء عمليات شراء على الموقع.</p>
            <br>
            <p>استخدم الموقع للإعلان عن السلع والخدمات أو بيعها.</p>
            <br>
            <p>التحايل على مميزات الموقع المتعلقة بالأمان أو تعطيلها أو التدخل فيها بطريقة أخرى ، بما في ذلك المميزات
                التي تمنع أو تقيد استخدام أو نسخ أي محتوى أو تفرض قيودًا على الاستخدام</p>
            <br>
            <p>الاشتراك في اطار غير مصرح به أو ربطه بالموقع.</p>
            <br>
            <p>خداع أو تضليلنا نحن والمستخدمين الآخرين ، خاصة في أي محاولة لمعرفة معلومات الحساب مثل كلمات مرور
                المستخدم.</p>
            <br>
            <p>استخدم خدمات الدعم الخاصة بنا بشكل غير لائق ، أو ارسال تقارير كاذبة عن إساءة أو سوء سلوك.</p>
            <br>
            <p>الانخراط في أي استخدام آلي للنظام ، مثل استخدام البرامج النصية لإرسال التعليقات أو الرسائل أو استخدام أي
                استخراج للبيانات ، أو الروبوتات ، أو أدوات مماثلة لجمع البيانات واستخراجها.</p>
            <br>
            <p>التدخل في أو تعطيل أو إنشاء عبء لا داعي له على الموقع أو الشبكات والخدمات المتصلة بالموقع.</p>
            <br>
            <p>محاولة انتحال شخصية مستخدم أو شخص آخر ، أو استخدام اسم مستخدم لمستخدم آخر.</p>
            <br>
            <p>بيع أو نقل ملف التعريف الخاص بك.</p>
            <br>
            <p>استخدم أي معلومات تم الحصول عليها من الموقع من أجل مضايقة شخص آخر أو الإساءة إليه أو إلحاق الضرر به.</p>
            <br>
            <p>استخدم الموقع أو المحتوى الخاص بنا كجزء من أي جهد للتنافس معنا أو لإنشاء مصدر اخر للدخل أو مشروع تجاري.
            </p>
            <br>
            <p>فك شفرة او عكس أي من البرامج التي تتألف منها أو تشكل بأي شكل من الأشكال جزءًا من الموقع.</p>
            <br>
            <p>محاولة الوصول إلى أي من أجزاء الموقع المحظور عليك الوصول إليها.</p>
            <br>
            <p>مضايقة أو تخويف أو تهديد أي من موظفينا أو وكلائنا أو مستخدمين آخرين.</p>
            <br>
            <p>حذف حقوق النشر أو إشعار حقوق الملكية الأخرى من أي محتوى.</p>
            <br>
            <p>نسخ أو تعديل برنامج الموقع ، بما في ذلك على سبيل المثال لا الحصر. Flash أو HTML أو JavaScript أو أي كود
                آخر</p>
            <br>
            <p>تحميل أو نقل (أو محاولة تحميل أو نقل) فيروسات أو أي مادة أخرى تتعارض مع الاستخدام والتمتع المتواصل من
                جانب أي طرف بالموقع ، أو أي مادة تعمل كآلية لجمع المعلومات أو نقلها بشكل سلبي أو نشط.</p>
            <br>
            <p>استخدام أو تشغيل أو المشاركة في أي استخدام آلي للنظام ، مثل استخدام البرامج النصية لإرسال التعليقات أو
                الرسائل أو الروبوتات أو أدوات الكشط أو القراء غير المتصلين بالإنترنت أو أدوات مماثلة لجمع البيانات
                واستخراجها.</p>
            <br>
            <p>الاستخفاف أو التشويه أو الإضرار بطريقة او بأخرى في رأينا، نحن و / أو الموقع.</p>
            <br>
            <p>استخدام الموقع بطريقة تتعارض مع أي قوانين أو لوائح معمول بها.</p>
            <br>
            <p>تهديد المستخدمين بملاحظات سلبية.</p>
            <br>
            <p>اساء تمثيل الخبرة أو المهارات أو المعلومات حول المستخدم.</p>
            <br>
            <p>الاعلان عن منتجات أو خدمات لا نقصدها نحن.</p>
            <br>
            <p>الاشارة بشكل خاطئ إلى وجود علاقة معنا أو مع شركة أخرى لا تربطك بها علاقة.</p>
            <br>


            <h2 class="font-underline">المعلومات التي تقدمها لن:ا</h2>
            <p>– أنت تقر وتضمن أن: (أ) جميع معلومات التسجيل التي ترسلها ستكون صحيحة ودقيقة وحديثة وكاملة ومرتبطة بك وليس
                بطرف ثالث ؛ (ب) ستحافظ على دقة هذه المعلومات وتقوم بتحديث هذه المعلومات على الفور حسب الضرورة ؛ (ج)
                ستحافظ على سرية كلمة مرورك وستكون مسؤولاً عن جميع استخدامات كلمة مرورك وحسابك ؛ (د) لديك الأهلية
                القانونية وتوافق على الامتثال لهذه الشروط والأحكام ؛ و (هـ) لست قاصرًا في الولاية القضائية التي تقيم
                فيها ، أو إذا كنت قاصرًا ، فقد تلقيت إذنًا من الوالدين لاستخدام الموقع.</p>
            <br>
            <p>– إذا قدمت أي معلومات غير صحيحة أو غير دقيقة أو غير حديثة أو غير كاملة ، فيجوز لنا تعليق حسابك أو إنهائه.
                يجوز لنا إزالة أو تغيير اسم المستخدم الذي تحدده إذا قررنا أن اسم المستخدم هذا غير مناسب.</p>
            <br>
            <p>– كجزء من وظائف الموقع ، يمكنك ربط حسابك بحسابات عبر الإنترنت قد تكون لديك مع مزودي خدمة تابعين لجهات
                خارجية (كل حساب من هذا القبيل ، حساب طرف ثالث) إما عن طريق: (أ) تقديم معلومات تسجيل الدخول إلى حساب
                الطرف الثالث الخاص بك من خلال الموقع؛ أو (ب) السماح لنا بالوصول إلى حساب الطرف الثالث الخاص بك ، كما هو
                مسموح به بموجب الشروط والأحكام السارية التي تحكم استخدامك لكل حساب طرف ثالث.</p>
            <br>
            <p>أنت تقر بأنه يحق لك الكشف عن معلومات تسجيل الدخول إلى حساب الطرف الثالث الخاص بك لنا و / أو منحنا حق
                الوصول إلى حساب الطرف الثالث الخاص بك دون اختراق لأي من الشروط والأحكام التي تحكم استخدامك لحساب الطرف
                الثالث المعمول به وبدون إلزامنا بدفع أي رسوم أو جعلنا خاضعين لأي قيود استخدام يفرضها مقدمو خدمات الطرف
                الثالث.</p>
            <br>
            <p>– بمنحنا حق الوصول إلى أي حسابات طرف ثالث ، فإنك تدرك أنه (أ) يجوز لنا الوصول إلى أي محتوى قدمته وتخزينه
                في حساب الطرف الثالث (“محتوى الشبكة الاجتماعية” (إن أمكن)) ) بحيث يكون متاحًا على الموقع وعبره عبر حسابك
                ، بما في ذلك على سبيل المثال لا الحصر أي قوائم أصدقاء ؛ (ب) يجوز لنا إرسال معلومات إضافية واستلامها إلى
                حساب الطرف الثالث الخاص بك إلى الحد الذي يتم إعلامك فيه عند ربط حسابك بحساب الطرف الثالث.</p>
            <br>
            <p>اعتمادًا على حسابات الطرف الثالث التي تختارها وتخضع لإعدادات الخصوصية التي قمت بتعيينها في حسابات الطرف
                الثالث ، قد تكون معلومات التعريف الشخصية التي تنشرها على حسابات الطرف الثالث الخاصة بك متاحة على حسابك
                ومن خلاله على الموقع. يرجى ملاحظة أنه إذا أصبح حساب الطرف الثالث أو الخدمة المرتبطة به غير متاحين أو تم
                إنهاء وصولنا إلى حساب الطرف الثالث من قبل مزود خدمة الطرف الثالث ، فقد لا يكون محتوى الشبكة الاجتماعية
                متاحًا على الموقع وعبره.</p>
            <br>
            <p>سيكون لديك القدرة على تعطيل الاتصال بين حسابك على الموقع وحسابات الطرف الثالث الخاصة بك في أي وقت. يرجى
                ملاحظة أن علاقتك بموفري الخدمات الخارجيين المرتبطين بحسابات الطرف الثالث الخاصة بك تحكمها فقط الاتفاقية
                (الاتفاقيات) الخاصة بك مع موفري الخدمات الخارجيين. نحن لا نبذل أي جهد لمراجعة أي محتوى على الشبكة
                الاجتماعية لأي غرض ، بما في ذلك على سبيل المثال لا الحصر ، الدقة أو الشرعية أو عدم الانتهاك ، ونحن لسنا
                مسؤولين عن أي محتوى على الشبكة الاجتماعية.</p>
            <br>




            <h2 class="font-underline">المحتوى الذي تقدمه لنا:</h2>
            <p>– قد تكون هناك فرص لك لنشر محتوى على الموقع أو إرسال ملاحظات إلينا (محتوى المستخدم). أنت تدرك وتوافق على
                أنه قد يتم عرض محتوى المستخدم الخاص بك من قبل مستخدمين آخرين على الموقع ، وأنهم قد يكونون قادرين على
                معرفة من قام بنشر محتوى المستخدم هذا.</p>
            <br>
            <p>– عند نشر محتوى المستخدم ، بما في ذلك المراجعات أو إجراء اتصال مع مستخدمين آخرين للموقع ، يجب عليك
                الالتزام بسياسة الاستخدام المقبول الخاصة بنا.</p>
            <br>
            <p>– أنت تتعهد بأن أي محتوى مستخدم لا يتوافق مع سياسة الاستخدام المقبول الخاصة بنا يعني أنك ستكون مسؤولاً عن
                أي خسارة أو ضرر نتعرض له نتيجة لخرقك لهذا الضمان.</p>
            <br>
            <p>– لدينا الحق في إزالة أي محتوى مستخدم تضعه على الموقع إذا كان في رأينا محتوى المستخدم هذا لا يتوافق مع
                سياسة الاستخدام المقبول.</p>
            <br>
            <p>– نحن لسنا مسؤولين ولا نقبل أي مسؤولية عن أي محتوى مستخدم بما في ذلك أي محتوى يحتوي على معلومات غير صحيحة
                أو تشهيري أو فقدان محتوى المستخدم. نحن لا نقبل أي التزام بفحص أي محتوى مستخدم أو تحريره أو مراقبته ،
                لكننا نحتفظ بالحق في إزالة و / أو فحص و / أو تعديل أي محتوى مستخدم دون إشعار وفي أي وقت. لم يتم التحقق
                من محتوى المستخدم أو الموافقة عليه من قبلنا، والآراء التي أعرب عنها المستخدمون الآخرون على الموقع لا
                تمثل وجهات نظرنا أو قيمنا.</p>
            <br>


            <h2 class="font-underline">المحتوى الخاص بنا:</h2>
            <p>– ما لم تتم الإشارة إلى خلاف ذلك ، فإن الموقع والخدمات بما في ذلك التعليمات البرمجية المصدر وقواعد
                البيانات والوظائف والبرامج وتصميمات مواقع الويب والصوت والفيديو والنصوص والصور والرسومات على الموقع
                (المحتوى الخاص بنا) مملوكة لنا أو مرخصة لنا ، وتحميها قوانين حقوق النشر والعلامات التجارية.</p>
            <br>
            <p>– باستثناء ما هو منصوص عليه في هذه الشروط والأحكام ، لا يجوز نسخ أي جزء من الموقع أو الخدمات أو المحتوى
                الخاص بنا أو إعادة إنتاجه أو تجميعه أو إعادة نشره أو تحميله أو نشره أو عرضه علنًا أو ترميزه أو ترجمته أو
                نقله أو توزيعه أو بيعه أو ترخيصه ، أو استغلالها بأي شكل آخر لأي غرض تجاري على الإطلاق ، دون إذن كتابي
                صريح مسبق منا.</p>
            <br>
            <p>– بمجرد ان تكون مؤهلاً لاستخدام الموقع، يتم منحك ترخيصًا محدودًا للوصول إلى الموقع والمحتوى الخاص بنا
                واستخدامه لتنزيل أو طباعة نسخة من أي جزء من المحتوى الذي حصلت عليه بشكل صحيح للوصول إليه بشكل شخصي فقط،
                ( اسخدام غير تجاري).</p>
            <br>
            <p>– لا يجوز لك (أ) محاولة الوصول غير المصرح به إلى الموقع أو أي شبكات أو خوادم أو أنظمة كمبيوتر متصلة
                بالموقع ؛ و / أو (ب) إجراء لأي غرض بما في ذلك تصحيح الخطأ ، وأية تعديلات أو إضافات أو تحسينات على الموقع
                أو المحتوى الخاص بنا ، بما في ذلك تعديل الورق أو النسخ الرقمية التي قد تكون قمت بتنزيلها.</p>
            <br>
            <p>– يجب علينا (أ) إعداد الموقع والمحتوى الخاص بنا بمهارة ورعاية ؛ و (ب) استخدام برنامج الكشف عن الفيروسات
                القياسي في الصناعة لمحاولة منع تحميل المحتوى على الموقع الذي يحتوي على فيروسات.</p>
            <br>
            <p>– يتم توفير المحتوى الموجود على الموقع للحصول على معلومات عامة فقط. وليس المقصود منها أن ترقى إلى مستوى
                النصيحة التي يجب أن تعتمد عليها. يجب عليك الحصول على مشورة مهنية أو متخصصة قبل اتخاذ أي إجراء أو
                الامتناع عن القيام به على أساس المحتوى الموجود على الموقع.</p>
            <br>
            <p>– على الرغم من أننا نبذل جهودًا معقولة لتحديث المعلومات الموجودة على موقعنا ، فإننا لا نقدم أي إقرارات أو
                ضمانات ، سواء كانت صريحة أو ضمنية ، بأن المحتوى الخاص بنا على الموقع دقيق أو كامل أو محدث.</p>
            <br>
            <p>– نحن نحتفظ بالحق وفقًا لتقديرنا الخاص ، في (1) مراقبة الموقع بحثًا عن انتهاكات هذه الشروط والأحكام ؛ (2)
                اتخاذ الإجراءات القانونية المناسبة ضد أي شخص ينتهك القوانين المعمول بها أو هذه الشروط والأحكام ؛ (3) رفض
                أو تقييد الوصول أو التوفر أو تعطيل (إلى الحد الممكن تقنيًا) أيًا من مساهماتك ؛ (4) إزالة من الموقع أو
                تعطيل جميع الملفات والمحتويات الزائدة في الحجم أو بأي شكل من الأشكال عبئًا على أنظمتنا ؛ و (5) إدارة
                الموقع بطريقة مصممة لحماية حقوقنا وممتلكاتنا وتسهيل حسن سير الموقع والخدمات.</p>
            <br>
            <p>– لا نضمن أن يكون الموقع آمنًا أو خاليًا من الأخطاء أو الفيروسات.</p>
            <br>
            <p>– أنت مسؤول عن تكوين تكنولوجيا المعلومات وبرامج الكمبيوتر والنظام الأساسي للوصول إلى الموقع ويجب عليك
                استخدام برنامج الحماية من الفيروسات الخاص بك.</p>
            <br>


            <h2 class="font-underline">التعديلات على الموقع :</h2>
            <p>– نحتفظ بالحق في تغيير أو تعديل أو إزالة محتويات الموقع في أي وقت أو لأي سبب وفقًا لتقديرنا الخاص دون
                إشعار. نحتفظ أيضًا بالحق في تعديل أو إيقاف كل الخدمات أو جزء منها دون إشعار في أي وقت.</p>
            <br>
            <p>– لا يمكننا ضمان أن الموقع والخدمات ستكون متاحة في جميع الأوقات. قد نواجه مشاكل في الأجهزة أو البرامج أو
                غيرها من المشاكل أو نحتاج إلى إجراء صيانة متعلقة بالموقع ، مما يؤدي إلى انقطاعات أو تأخيرات أو أخطاء.
                أنت توافق على أننا لا نتحمل أي مسؤولية من أي نوع عن أي خسارة أو ضرر أو إزعاج ناتج عن عدم قدرتك على
                الوصول أو استخدام الموقع أو الخدمات أثناء أي توقف أو توقف للموقع أو الخدمات. الخدمات أو لتوفير أي
                تصحيحات أو تحديثات أو إصدارات.</p>
            <br>
            <p>– قد تكون هناك معلومات على الموقع تحتوي على أخطاء مطبعية أو عدم دقة أو سهو قد يتعلق بالخدمات ، بما في ذلك
                الأوصاف والتسعير والتوافر ومختلف المعلومات الأخرى. نحتفظ بالحق في تصحيح أي أخطاء أو عدم دقة أو سهو
                وتغيير المعلومات أو تحديثها في أي وقت دون إشعار مسبق.</p>
            <br>



            <h2 class="font-underline">إخلاء المسؤولية / تحديد المسؤولية:</h2>
            <p>– يتم توفير الموقع والخدمات على أساس ما هو متوفر. أنت توافق على أن استخدامك للموقع و / أو الخدمات سيكون
                على مسؤوليتك وحدك باستثناء ما هو منصوص عليه صراحة في هذه الشروط والأحكام. جميع الضمانات والأحكام والشروط
                والتعهدات ، الصريحة أو الضمنية (بما في ذلك بموجب القانون أو العرف أو الاستخدام ، أو مسار التعامل ، أو
                القانون العام) فيما يتعلق بالموقع والخدمات واستخدامك لها بما في ذلك ، على سبيل المثال لا الحصر، الضمانات
                الضمنية لـ يتم استبعاد الجودة المرضية والملاءمة لغرض معين وعدم الانتهاك إلى أقصى حد يسمح به القانون
                المعمول به.</p>
            <br>
            <p>نحن لا نقدم أي ضمانات أو إقرارات حول دقة أو اكتمال محتوى الموقع ولسنا مسؤولين عن أي (1) أخطاء أو سهو في
                المحتوى: (2) أي وصول غير مصرح به إلى أو استخدام خوادمنا و / أو أي وجميع المعلومات الشخصية و / أو
                المعلومات المالية المخزنة على خادمنا ؛ (3) أي انقطاع أو توقف للإرسال إلى أو من الموقع أو الخدمات ؛ و /
                أو (4) أي أخطاء أو فيروسات أو أحصنة طروادة أو ما شابه ذلك والتي قد تنتقل إلى أو من خلال الموقع من قبل أي
                طرف ثالث. لن نكون مسؤولين عن أي تأخير أو فشل في الامتثال لالتزاماتنا بموجب هذه الشروط والأحكام إذا كان
                هذا التأخير أو الفشل ناتجًا عن حدث خارج عن سيطرتنا.</p>
            <br>



            <h2 class="font-underline"> مسؤوليتنا عن الخسارة أو الضرر الذي لحق بك:</h2>
            <h2 class="font-underline">سواء كنت مستهلكًا أو مستخدمًا تجاريًا:</h2>
            <p>– نحن لا نستبعد أو نحد بأي شكل من الأشكال مسؤوليتنا تجاهك حيث يكون القيام بذلك غير قانوني. يشمل ذلك
                المسؤولية عن الوفاة أو الإصابة الشخصية الناجمة عن إهمالنا أو إهمال موظفينا أو وكلائنا أو مقاولينا من
                الباطن وعن الاحتيال أو التحريف الاحتيالي.</p>
            <br>
            <p>– إذا فشلنا في الامتثال لهذه الشروط والأحكام ، فسنكون مسؤولين عن الخسارة أو الضرر الذي تتعرض له نتيجة
                متوقعة لخرقنا لهذه الشروط والأحكام ، لكننا لن نكون مسؤولين عن أي خسارة أو ضرر لم يكن متوقعا. في الوقت
                الذي بدأت فيه استخدام الموقع / الخدمات.</p>
            <br>


            <h2 class="font-underline">على وجه الخصوص ، لن نكون مسؤولين عن:</h2>
            <p>– خسارة الأرباح أو المبيعات أو الأعمال أو الإيرادات.</p>
            <br>
            <p>– توقف العمل.</p>
            <br>
            <p>– فقدان المدخرات المتوقعة.</p>
            <br>
            <p>– فقدان فرص العمل أو الشهرة أو السمعة .</p>
            <br>
            <p>– أي خسارة أو ضرر غير مباشر أو لاحق.</p>
            <br>



            <h2 class="font-underline">إذا كنت مستخدمًا مستهلكًا:</h2>
            <p>– يرجى ملاحظة أننا نقدم موقعنا للاستخدام المنزلي والخاص فقط. أنت توافق على عدم استخدام موقعنا لأي أغراض
                تجارية، ولا نتحمل أي مسؤولية تجاهك عن أي خسارة في الربح أو خسارة في العمل أو توقف العمل أو خسارة فرصة
                عمل.</p>
            <br>
            <p>– إذا تسبب المحتوى الرقمي المعيب الذي قدمناه في إلحاق الضرر بجهاز أو محتوى رقمي يخصك وكان هذا بسبب فشلنا
                في استخدام الرعاية والمهارة المعقولة ، فسنقوم إما بإصلاح الضرر أو دفع تعويض لك. ومع ذلك ، لن نكون
                مسؤولين عن الضرر الذي كان من الممكن تجنبه باتباع نصيحتنا لتطبيق التحديث المقدم لك مجانًا أو عن الضرر
                الذي نتج عن عدم اتباعك لإرشادات التثبيت بشكل صحيح أو في الحصول على الحد الأدنى من النظام المتطلبات التي
                نصحنا بها.</p>
            <br>
            <p>– لديك حقوق قانونية فيما يتعلق بالسلع المعيبة أو غير الموصوفة. تتوفر المشورة بشأن حقوقك القانونية من مكتب
                استشارات المواطنين المحلي أو مكتب معايير التجارة. لن يؤثر أي شيء في هذه الشروط والأحكام على هذه الحقوق
                القانونية.</p>


            <br>
            <h2 class="font-underline">المدة والإنهاء:</h2>
            <p>– تظل هذه الشروط والأحكام سارية المفعول أثناء استخدامك للموقع أو الخدمات أو إذا كنت مستخدمًا للموقع ، حسب
                مقتضى الحال. يمكنك إنهاء استخدامك أو مشاركتك في أي وقت ولأي سبب باتباع الإرشادات الخاصة بإنهاء حسابات
                المستخدمين في إعدادات حسابك ، إن وجدت ، أو عن طريق الاتصال بنا </p>
            <br>
            <p>– بدون تقييد أي شرط آخر من هذه الشروط والأحكام ، نحتفظ بالحق وفقًا لتقديرنا الخاص ودون إشعار أو مسؤولية
                في رفض الوصول إلى الموقع والخدمات واستخدامهما (بما في ذلك حظر عناوين IP معينة) لأي شخص لأي سبب بما في
                ذلك على سبيل المثال لا الحصر انتهاك أي تعهد أو ضمان أو عهد وارد في هذه الشروط والأحكام أو أي قانون أو
                لائحة معمول بها.</p>
            <br>
            <p>– إذا قررنا وفقًا لتقديرنا الخاص أن استخدامك للموقع / الخدمات ينتهك هذه الشروط والأحكام أو أي قانون أو
                لائحة معمول بها ، فيجوز لنا إنهاء استخدامك أو مشاركتك في الموقع والخدمات أو حذف ملف التعريف الخاص بك وأي
                محتوى أو معلومات قمت بنشرها في أي وقت دون سابق إنذار وفقًا لتقديرنا الخاص.</p>
            <br>
            <p>– إذا قمنا بإنهاء حسابك أو تعليقه لأي سبب من الأسباب المنصوص عليها في هذا القسم 9 ، فيُحظر عليك التسجيل
                وإنشاء حساب جديد باسمك أو اسم مزيف أو مستعار أو اسم أي طرف ثالث ، حتى لو كان بإمكانك تتصرف نيابة عن
                الطرف الثالث. بالإضافة إلى إنهاء حسابك أو تعليقه ، فإننا نحتفظ بالحق في اتخاذ الإجراءات القانونية
                المناسبة ، بما في ذلك على سبيل المثال لا الحصر ، السعي للحصول على تعويضات مدنية وجنائية.</p>
            <br>
        </div>
    </div>
</div>