<div class="payment-header">
    <div class="container">
        <div class="ico"><i-feather name="map-pin" title="العنوان"></i-feather></div>
        <span>العنوان</span>
        <div class="ico-line"></div>
        <div class="ico"><i-feather name="credit-card" title="الدفع"></i-feather></div>
        <span>الدفع</span>
        <div class="ico-line"></div>
        <div class="ico"><i-feather name="check-circle" title="إتمام"></i-feather></div>
        <span>إتمام</span>
    </div>
</div>
<div class="screen">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="paycard">
                    <img src="../../../../assets/images/icons/checked.png" alt="" [width]="200">
                    <h1>تم إرسال طلبك بنجاح و سيتك تأكيده خلال فتره زمنية قصيرة</h1>
                    <h3>شكراً لك على اختيارك لنا</h3>
                </div>
                <div>
                    <button class="btn41-43 btn-41" style="margin-bottom: 20px;">طلباتي</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="summrycard">
                    <div class="summrycard-header">
                        <h3>سلة المشتريات</h3>
                    </div>
                    <div class="summrycard-body">
                        <div><h3>الأصناف</h3><h3>7 أصناف</h3></div>
                        <div><h3>إجمال الأصناف</h3><h3>2560 جنية</h3></div>
                        <div><h3>الشحن</h3><h3>50 جنية</h3></div>
                    </div>
                    <div class="summrycard-total">
                        <div><h3>الإجمالي</h3><h3>2610 جنية</h3></div>
                    </div>
                </div>
                <div class="summrycard-btn">
                    <h3>طلباتي</h3>
                </div>
            </div>
        </div>
    </div>
</div>
