<div class="screen">
    <div class="container">
        <div class="page-broken-container">
            <h1>4</h1>
            <img src="../../../../assets/images/404.png" alt="error">
            <h1>4</h1>
        </div>

        <div class="page-broken-content">
            <h1>الصفحة غير موجوده</h1>
            <h2>نأسف، ولكن الصفحة التي تريد الدخول إليها غير موجوده برجاء العودة للصفحة الرئيسية</h2>
            <button class="btn41-43 btn-41"> الصفحة الرئيسية</button>
        </div>
    </div>
</div>