/* You can add global styles to this file, and also import other style files */
/*
 *  Document   : _general.scss
 *  Author     : Amr Hesham
 *  Description: This scss file for all common style classes
 */

:root {
    // colors
    --mainColor: #66d1c8;
    --subColor: #74e9df;
    --thirdColor: #c5efeb;
    --featureColor: #693945;
    --content: #b5b4b5;
    --bg_content: #ffff;
    // font color;
    --placeholder: #b6b6b6;
    --border: #e0e0e0;
    --white: #FFF;

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
    --light-feature: hsl(348.75deg 57.14% 94.51%);




    /** typography **/
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    /**  border-radius **/
    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /** transition **/
    --transition-timing: 0.4s ease;


    --onyx: hsl(0, 0%, 27%);
}


@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Cairo-Regular';
    src: url('./assets/fonts/Cairo/Cairo-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Cairo-Black';
    src: url('./assets/fonts/Cairo/Cairo-Black.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Cairo-Bold';
    src: url('./assets/fonts/Cairo/Cairo-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Cairo-ExtraBold';
    src: url('./assets/fonts/Cairo/Cairo-ExtraBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Cairo-ExtraLight';
    src: url('./assets/fonts/Cairo/Cairo-ExtraLight.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Cairo-Light';
    src: url('./assets/fonts/Cairo/Cairo-Light.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Cairo-Medium';
    src: url('./assets/fonts/Cairo/Cairo-Medium.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Cairo-SemiBold';
    src: url('./assets/fonts/Cairo/Cairo-SemiBold.ttf');
    font-style: normal;
}

body,
html {
    font-family: "Cairo-Regular" !important;
    font-size: 13px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

ul li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: 'Cairo-Bold' !important;
}

button,
input,
select,
a {
    outline: none !important;
    text-decoration: none !important;

    &:hover {
        text-decoration: none;
    }
}



img {
    max-width: 100%;
}

.row {
    margin-bottom: 0px !important;
}

ol,
ul,
dl {
    padding-left: 0px;
    list-style-type: none;
}

.no-animate {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
    width: 15px;
    height: 15px;
}

input {
    display: block;
    width: 100%;
    font: inherit;
}

input::placeholder {
    font: inherit;
}

button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}


/***************** Helpers ***********************/


.margin-0 {
    margin: 0;
}

.mrg-5 {
    margin: 10px;
}

.mrg-10 {
    margin: 10px;
}

.mrg-20 {
    margin: 20px;
}

.mrg-30 {
    margin: 30px;
}

.mrg-40 {
    margin: 40px;
}

.mrg-50 {
    margin: 50px;
}

.mrg-60 {
    margin: 60px;
}

.mrg-70 {
    margin: 70px;
}

.mrg-80 {
    margin: 80px;
}

.mrg-90 {
    margin: 90px;
}

.mrg-100 {
    margin: 100px;
}

.padding-0 {
    padding: 0;
}

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}

.pd-30 {
    padding: 30px;
}

.pd-40 {
    padding: 40px;
}

.pd-50 {
    padding: 50px;
}

.pd-60 {
    padding: 60px;
}

.pd-70 {
    padding: 70px;
}

.pd-80 {
    padding: 80px;
}

.pd-90 {
    padding: 90px;
}

.pd-100 {
    padding: 100px;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.no-resize {
    resize: none;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.font-underline {
    text-decoration: underline;
}

.font-line-through {
    text-decoration: line-through;
}

.font-overline {
    text-decoration: overline;
}


/****************************** RTL ******************************/
.rtl {
    direction: rtl;
    text-align: right;
}










/*************************** Pages *********************************/
/* [Ads-Navbar] */
.ads-navbar {
    text-align: center;
    background-color: var(--light-feature);
    border-bottom: 1px solid var(--border);
}

.header-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-alert-news {
    color: var(--sonic-silver);
}

.header-social-container {
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
}

.social-link {
    padding: 5px 10px;
    background: var(--light-feature);
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
    color: var(--sonic-silver);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);

    &:hover {
        background: var(--featureColor);
        color: var(--white);
    }
}



.social-link i-feather {
    width: 16px;
    height: 16px;
}

/* [Navbar] */
.nav-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.mobile-header {
    display: none;
}

@media (max-width: 960px) {
    .nav-con {
        flex-direction: column;
        gap: 20px;
    }

    .header-search-conatiner {
        min-width: 80% !important;
    }

    .header-user-actions,
    .header-logo {
        display: none !important;
    }

    .mobile-header {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
    }

    #mobile-menu {
        position: relative;
        top: 20%;
        left: 5%;
        transform: translate(5%, 0%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--featureColor);
    cursor: pointer;
}



.header-main {
    padding: 20px 0;
    border-bottom: 1px solid var(--border);
}

.header-logo img {
    margin: auto;
}

.header-search-conatiner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 300px;
    position: relative;
}

.search-field {
    font-size: 14px;
    color: var(--onyx);
    padding: 13px 15px;
    padding-left: 50px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md)
}

.search-btn {
    background: var(--white);
    position: absolute;
    top: 50%;
    left: 2px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--onyx);
    font-size: 18px;
    padding: 8px 15px;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    -webkit-transition: color var(--transition-timing);
    -o-transition: color var(--transition-timing);
    transition: color var(--transition-timing);

    &:hover {
        color: var(--featureColor);
    }

    i-feather {
        width: 20px;
        height: 20px;
    }
}

.header-user-actions {
    font-size: 16px;
    font-family: 'Cairo-SemiBold';
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
    color: var(--onyx);
    margin-left: 20px;
}

.lang {
    cursor: pointer;
    -webkit-transition: color var(--transition-timing);
    -o-transition: color var(--transition-timing);
    transition: color var(--transition-timing);

    &:hover {
        color: var(--eerie-black);
    }
}

.hello-account {
    color: var(--spanish-gray);
    font-size: 12px;
}

.account {
    cursor: pointer;
    -webkit-transition: color var(--transition-timing);
    -o-transition: color var(--transition-timing);
    transition: color var(--transition-timing);
}

.borderd {
    height: 50px;
    border-left: 1px solid var(--cultured);
}

.action-btn {
    position: relative;
}

.count {
    position: absolute;
    top: -2px;
    right: -3px;
    background: var(--featureColor);
    color: var(--white);
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

/* [Sub-Navbar] */
.desktop-navigation-menu {
    display: block;
    padding: 25px 0;
}

.desktop-menu-category-list {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
}

.desktop-menu-category-list .menu-category:not(:nth-child(2)) {
    position: relative;
}

.desktop-menu-category-list .menu-category>.menu-title {
    position: relative;
    color: var(--onyx);
    font-size: 15px;
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 15px 0;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    text-decoration: none;
    font-family: 'Cairo-Bold';
}

.desktop-menu-category-list .menu-category>.menu-title:hover {
    color: var(--salmon-pink);
}

.desktop-menu-category-list .menu-category>.menu-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--salmon-pink);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
}

.desktop-menu-category-list .menu-category>.menu-title:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.dropdown-panel {
    position: absolute;
    top: 200%;
    left: 0;
    background: var(--white);
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
    border: 1px solid var(--cultured);
    -webkit-box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    z-index: 5;
}

.desktop-menu-category-list .menu-category:hover>.dropdown-panel {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.dropdown-panel-list .menu-title {
    margin-bottom: 20px;
}

.dropdown-panel-list .menu-title a {
    color: var(--onyx);
    font-size: 14px;
    font-weight: var(--weight-600);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 10px;
    font-family: 'Cairo-Bold';
}

.panel-list-item {
    padding: 5px 0;
}

.panel-list-item a {
    color: var(--sonic-silver);
    font-size: 14px;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    font-family: 'Cairo-SemiBold';
}

.panel-list-item a:hover {
    color: var(--salmon-pink);
}

.panel-list-item:not(:last-child) a {
    padding: 4px 0;
}

.panel-list-item:last-child {
    margin-top: 20px;
}

.panel-list-item img {
    width: 100%;
    height: auto;
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
}

.dropdown-list {
    position: absolute;
    top: 200%;
    left: 0;
    width: 200px;
    background: var(--white);
    padding: 20px 0;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--cultured);
    -webkit-box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    z-index: 5;
}

.desktop-menu-category-list .menu-category:hover>.dropdown-list {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.dropdown-list .dropdown-item {
    padding: 5px 0;
}

.dropdown-list .dropdown-item a {
    color: var(--sonic-silver);
    font-size: 14px;
    padding: 4px 20px;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
}

.dropdown-list .dropdown-item a:hover {
    color: var(--salmon-pink);
}

// .mobile-navigation-menu {display: none;}

.mobile-navigation-menu {
    background: var(--white);
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    overflow-y: scroll;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    visibility: hidden;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    z-index: 20;
}

.mobile-navigation-menu.active {
    right: 0;
    visibility: visible;
}

.menu-top {
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid var(--cultured);
}

.menu-top .menu-title {
    color: var(--salmon-pink);
    font-size: 20px;
    font-family: 'Cairo-Bold';
}

.menu-close-btn {
    color: var(--featureColor);
    font-size: 22px;
}

.menu-close-btn i-feather {
    width: 25px;
    height: 25px;
}

.mobile-menu-category-list .menu-category {
    border-bottom: 1px solid var(--cultured);
    padding: 12px 0;
}

.mobile-menu-category-list {
    padding-right: 0;
    margin-bottom: 30px;
}

.mobile-menu-category-list .menu-title {
    color: var(--onyx);
    font-size: 14px;
    font-family: 'Cairo-Bold';
}

.menu-category .accordion-menu {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.mobile-menu-category-list .menu-category {
    border-bottom: 1px solid var(--cultured);
    padding: 12px 0;
}

.mobile-menu-category-list .menu-title {
    color: var(--onyx);
    font-size: 14px;
    font-family: 'Cairo-SemiBold';
}

.accordion-menu>div {
    font-size: 14px;
}

.accordion-menu i-feather {
    color: var(--onyx);
    width: 15px;
}

.accordion-menu.active .add-icon,
.accordion-menu .remove-icon {
    display: none;
}

.accordion-menu .add-icon,
.accordion-menu.active .remove-icon {
    display: block;
}

.menu-category .submenu-category-list {
    margin-right: 10px;
}

.submenu-title {
    padding: 6px 0;
    font-size: 13px;
    color: var(--sonic-silver);
    font-family: 'Cairo-SemiBold';
}

.submenu-title:hover {
    color: var(--davys-gray);
}

.submenu-category-list {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
    max-height: 148px;
    visibility: visible;
}


.Lang-list.active {
    max-height: 148px;
    visibility: visible;
}

.menu-bottom .menu-category-list {
    margin-bottom: 20px;
}

.menu-bottom .menu-category {
    border-bottom: none;
}

.accordion-menu.active .caret-back {
    -webkit-transform: rotate(-0.25turn);
    -ms-transform: rotate(-0.25turn);
    transform: rotate(-0.25turn);
    transition: var(--transition-timing);
}

.caret-back.is-active {
    transition: var(--transition-timing);
    -webkit-transform: rotate(-0.25turn);
    -ms-transform: rotate(-0.25turn);
    transform: rotate(-0.25turn);
}

.menu-bottom .submenu-category-list {
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    padding: 0 15px;
    margin-right: 0;
    -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
}

.menu-bottom .submenu-category:not(:last-child) {
    border-bottom: 1px solid var(--cultured);
}

.menu-bottom .submenu-category {
    padding: 12px 0;
}

.menu-social-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}

.menu-bottom .menu-category-list,
.menu-social-container {
    padding-right: 0;
}

.menu-social-container .social-link {
    background: var(--cultured);
    color: var(--featureColor);
    font-size: 20px;
    padding: 0px 10px;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
}

@media (min-width: 960px) {
    .mobile-navigation-menu.active {
        right: 0;
        visibility: hidden;
    }
}

@media (max-width: 960px) {
    .desktop-menu-category-list {
        display: none;
    }

}

/* [Main-Footer] */
footer {}

.main-footer {
    background: rgb(39 39 39);
    color: var(--white);
    padding: 75px 20px 50px;
}

.footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 50px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    justify-content: flex-end;
}

@media (max-width: 1117px) {
    .footer-nav {
        justify-content: center;
    }

}

.logo-mark img {
    width: 30%;
    transition: var(--transition-timing);
    opacity: 1;

    &:hover {
        transition: var(--transition-timing);
        opacity: 0.8;
    }
}

.logo-mark P {
    color: #b6b6b6;
    margin: 20px 0;
}

.last-footer {
    background: #000;
    color: var(--white);
    font-size: 12px;
    display: flex;
    padding: 20px 20px;
    align-items: center;
}

.footer-nav-list:not(:last-child) {
    margin-bottom: 20px;
}

.footer-nav-item .nav-title {
    position: relative;
    color: var(--white);
    font-size: 14px !important;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.footer-nav-item .nav-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--salmon-pink);
    width: 60px;
    height: 1px;
}

.footer-nav-item {
    padding: 3px 0;
}

.footer-nav-link,
.footer-nav-item .content {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: var(--sonic-silver);
    font-size: 14px;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
}

.footer-nav-link:hover {
    color: var(--salmon-pink);
}

.footer-nav-item.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 10px;
}

/* [Home] */
.screen {
    padding: 50px 0;
}

.category-home,
.featured-offers-main1,
.featured-offers-main2,
.featured-offers-item {
    background-color: #f6f7f8;
    border-radius: var(--border-radius-md);
}

.category-home-main {
    height: 620px;
}

.category-home-main-split {
    height: 300px;
}

.screen-section {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 20px;
    font-family: 'Cairo-Bold' !important;
}

.mat-tab-label,
.mat-tab-link {
    font-size: 16px;
    font-family: 'Cairo-Bold' !important;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: var(--salmon-pink);
}

.mat-tab-label-active {
    color: var(--salmon-pink);
}

@media (max-width: 990px) {
    .sec {
        margin-bottom: 25px;
    }
}

.featured-offers-main1, .featured-offers-item {
    height: 400px;
}

.featured-offers-main2 {
    height: 190px;
}

.tab-body {
    margin: 20px;
}

.sec2 {padding-bottom: 15px;}
.ad-banner {
    background-color: var(--light-feature);
    border-radius: var(--border-radius-md);
    height: 200px;
}