<header>
    <div class="header-main">
        <div class="container-fluid">
            <a routerLink="/home" class="header-logo">
                <img src="../../../assets/images/main-logo-black.png" alt="NosaLogo" class="header-logo" width="190" height="63">
            </a>

            <div class="header-search-conatiner">
                <input type="search" name="search" class="search-field" placeholder="أنت بتدور على ايه؟">

                <button class="search-btn">
                </button>
            </div>

            <!-- <div class="header-user-actions">

                <button class="action-btn">
                </button>
      
                <button class="action-btn">
                  <span class="count">0</span>
                </button>
      
                <button class="action-btn">
                  <span class="count">0</span>
                </button>
      
              </div> -->
        </div>
    </div>
</header>
