<header>
  <div class="header-main">
    <div class="container-fluid">
      <div class="nav-con">
        <div class="mobile-header">
          <div class="mobile-logo">
            <a routerLink="/home">
              <img src="../../../assets/images/main-logo-black.png" alt="NosaLogo" class="logo" width="190" height="63">
            </a>
          </div>
          <!-- <div class="mobile-menu" style="margin-top: 20px;">
            <span class="burger" id="burger"></span>
          </div> -->
          <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>

        <a routerLink="/home" class="header-logo">
          <img src="../../../assets/images/main-logo-black.png" alt="NosaLogo" class="logo" width="190" height="63">
        </a>

        <div class="header-search-conatiner">
          <input name="search" class="search-field" placeholder="أنت بتدور على ايه؟">

          <button class="search-btn">
            <i-feather name="search"></i-feather>
          </button>
        </div>

        <div class="header-user-actions">

          <span class="lang">English</span>

          <div class="borderd"></div>

          <span class="account"><span class="hello-account">أهلاً أمنية!</span> <br> معلومات حسابي</span>

          <div class="borderd"></div>

          <button class="action-btn">
            <i-feather name="shopping-cart"></i-feather>
            <span class="count">0</span>
          </button>

        </div>
      </div>
    </div>
  </div>

  <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>
    <div class="menu-top">
      <h2 class="menu-title">القائمة</h2>

      <button class="menu-close-btn" data-mobile-menu-close-btn>
        <i-feather name="x"></i-feather>
      </button>
    </div>

    <ul class="mobile-menu-category-list">
      <li class="menu-category">
        <a routerLink="/home" class="menu-title">الرئيسية</a>
      </li>

      <li class="menu-category">
        <button class="accordion-menu" data-accordion-btn>
          <p class="menu-title">العناية بالبشرة</p>

          <div>
            <i-feather name="plus" class="add-icon"></i-feather>
            <i-feather name="minus" class="remove-icon"></i-feather>
          </div>
        </button>

        <ul class="submenu-category-list" data-accordion>
          <li class="submenu-category">
            <a href="#" class="submenu-title">لا روش بوزيه</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">لوريال</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">سيرافي</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">بيوديرما</a>
          </li>
        </ul>
      </li>

      <li class="menu-category">
        <button class="accordion-menu" data-accordion-btn>
          <p class="menu-title">العناية بالشعر</p>

          <div>
            <i-feather name="plus" class="add-icon"></i-feather>
            <i-feather name="minus" class="remove-icon"></i-feather>
          </div>
        </button>

        <ul class="submenu-category-list" data-accordion>
          <li class="submenu-category">
            <a href="#" class="submenu-title">أوبليكس</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">تشي</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">كانتو</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">كيراستاس</a>
          </li>
        </ul>
      </li>

      <li class="menu-category">
        <button class="accordion-menu" data-accordion-btn>
          <p class="menu-title">العناية بالجسم</p>

          <div>
            <i-feather name="plus" class="add-icon"></i-feather>
            <i-feather name="minus" class="remove-icon"></i-feather>
          </div>
        </button>

        <ul class="submenu-category-list" data-accordion>
          <li class="submenu-category">
            <a href="#" class="submenu-title">أوريفليم</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">فازلين</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">نيفيا</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">دوف</a>
          </li>
        </ul>
      </li>

      <li class="menu-category">
        <button class="accordion-menu" data-accordion-btn>
          <p class="menu-title">العناية بالعيون</p>

          <div>
            <i-feather name="plus" class="add-icon"></i-feather>
            <i-feather name="minus" class="remove-icon"></i-feather>
          </div>
        </button>

        <ul class="submenu-category-list" data-accordion>
          <li class="submenu-category">
            <a href="#" class="submenu-title">كلينيك</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">إينفينيتي</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">كولاجرا</a>
          </li>

          <li class="submenu-category">
            <a href="#" class="submenu-title">نيتروجينا</a>
          </li>
        </ul>
      </li>

      <li class="menu-category">
        <a routerLink="/blog" class="menu-title">المدونة</a>
      </li>

      <li class="menu-category">
        <a routerLink="/contact" class="menu-title">تواصل معنا</a>
      </li>
    </ul>

    <div class="menu-bottom">
      <ul class="menu-category-list">
        <li class="menu-category">
          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">اللغة</p>

            <i-feather name="chevron-left" class="caret-back"></i-feather>
          </button>

          <ul class="submenu-category-list Lang-list" data-accordion>
            <li class="submenu-category">
              <a href="#" class="submenu-title">العربية</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">English</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="menu-social-container">
        <li>
          <a href="#" class="social-link">
            <i-feather name="facebook"></i-feather>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <i-feather name="twitter"></i-feather>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <i-feather name="instagram"></i-feather>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <i-feather name="linkedin"></i-feather>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>